body {
    overflow-x: hidden;
}

.destaques {
    display: grid;
    grid-gap: .2rem; /* Para dar espaço nas fotos */
    grid-template-columns: 25% 25% 25% 25%; /* Quanto cada foto ocupa na tela */
    grid-template-rows: 33.33% 33.33% 33.33%; /* Tamanho das linhas */
    height: calc(100vh - 50px);
}

.caixa {
    align-items: flex-end;
    background: #DCDCDC;
    display: flex;
    justify-content: center;
}

.principal {
    background: url(../img/fortnite.jpg) center / cover no-repeat;
    grid-column: 1/4;
    grid-row: 1/3;
}

.titulo {
    background: rgba(0, 0, 0, .5);
    color: #FDFDFD;
    padding: .6rem;
    text-align: center;
    width: 100%;
}

.secundario:nth-child(2) {
    background: url(../img/pubg.jpg) center / cover no-repeat;
    grid-column: 4/4; /* Posição que a foto vai começar e terminar nas colunas */
    grid-row: 1/1; /* Posição que a foto vai começar e terminar nas linhas */
}

.secundario:nth-child(3) {
    background: url(../img/slack.png) center / cover no-repeat;
    grid-column: 4/4;
    grid-row: 2/2;
}

.secundario:nth-child(4) {
    background: url(../img/whatsapp.png) center / cover no-repeat;
    grid-column: 4/4;
    grid-row: 3/3;
}

.secundario:nth-child(5) {
    background: url(../img/cs-go.jpg) center / cover no-repeat;
    grid-column: 3/3;
    grid-row: 3/3;
}

.categorias {
    grid-column: 1/3;
    grid-row: 3/3;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.item {
    align-items: center;
    background: #FDFDFD;
    border-left: 5px solid transparent;
    color: #333333;
    display: flex;
    padding: 1rem;
    width: 45%;
}

.link {
    text-decoration: none;
    color: inherit;
}